<?xml version="1.0"?>
<!--
/**
 * Zupah Tech.
 *
 * @category  Zupah
 * @package   Zupah_Marketplace
 * @author    Zupah
 * @copyright Copyright (c) Zupah (https://zupah.com.br)
 * @license   https://zupah.com.br/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
   
   
    <preference for="Zupah\Marketplace\Api\Data\SellerInterface" type="Zupah\Marketplace\Model\Seller"/>
    <preference for="Zupah\Marketplace\Api\SellerRepositoryInterface" type="Zupah\Marketplace\Model\SellerRepository"/>
    <preference for="Zupah\Marketplace\Api\Data\SellerSearchResultsInterface" type="Zupah\Marketplace\Model\SellerSearchResults"/>
    
</config>